<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="WSO2 BAL Editor"
            extensions="bal"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.wso2.eclipse.ballerina.editor.plugin.editors.BALEditor"
            id="org.wso2.eclipse.ballerina.editor.plugin.editors.BALEditor">
      </editor>
   </extension>
   


</plugin>
